body {
    --cl-border-round: 0.8em;
    --cl-header-height: 5rem;
    --cl-toast-horizontal: 3rem;
    --cl-toast-vertical: calc(var(--cl-header-height) + 2rem);
    --cl-transitions: all 0.4s ease-in-out 0.2s;
    --cl-animation-duration: 0.3s;
    transition: var(--cl-transitions);

    --cl-color-theme: #9900ff;
    --cl-color-theme-rgba: 153, 0, 255;
    --cl-text-color-contrast: #000;
    --cl-text-color: #fff;
    --cl-background-main: #14131d;
    --cl-background-secondary: #464646;

    &.lightTheme {
        --cl-color-theme-contrast: #fff;
        --cl-text-color: #000;
        --cl-text-color-contrast: #fff;
        --cl-background-main: #fdfdfd;
        --cl-background-secondary: #e4e4e4;
    }

    background-color: var(--cl-background-main) !important;
    color: var(--cl-text-color);
}