body {
  --cl-border-round: 0.8em;
  --cl-header-height: 5rem;
  --cl-toast-horizontal: 3rem;
  --cl-toast-vertical: calc(var(--cl-header-height) + 2rem);
  --cl-transitions: all 0.4s ease-in-out 0.2s;
  --cl-animation-duration: 0.3s;
  transition: var(--cl-transitions);

  --cl-color-theme: #9900ff;
  --cl-color-theme-rgba: 153, 0, 255;
  --cl-text-color-contrast: rgb(18, 18, 18);
  --cl-text-color: #fff;
  --cl-background-main: #14131d;
  --cl-background-secondary: #464646;
  --cl-shadow-1: none;
  --cl-shadow-2: none;
  --cl-shadow-3: none;
  --cl-shadow-4: none;
  --cl-shadow-5: none;

  &.lightTheme {
    --cl-color-theme-contrast: #fff;
    --cl-text-color: rgb(18, 18, 18);
    --cl-text-color-contrast: #fff;
    --cl-background-main: #fdfdfd;
    --cl-background-secondary: #fff;

    @include cssvar("shadow-1", $shadow-level-1);
    @include cssvar("shadow-2", $shadow-level-2);
    @include cssvar("shadow-3", $shadow-level-3);
    @include cssvar("shadow-4", $shadow-level-4);
    @include cssvar("shadow-5", $shadow-level-5);
  }

  background-color: var(--cl-background-main) !important;
  color: var(--cl-text-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.cl-elevation {

  &.cl-elevation-elevate-1 {
    box-shadow: var(--cl-shadow-1);
  }

  &.cl-elevation-elevate-2 {
    box-shadow: var(--cl-shadow-2);
  }

  &.cl-elevation-elevate-3 {
    box-shadow: var(--cl-shadow-3);
  }

  &.cl-elevation-elevate-4 {
    box-shadow: var(--cl-shadow-4);
  }

  &.cl-elevation-elevate-5 {
    box-shadow: var(--cl-shadow-5);
  }
}