.cl-button {
  padding: 8px 14px;
  font-size: 16px;
  color: var(--cl-text-color-contrast);
  font-weight: 400;
  border-radius: var(--cl-border-round);
  border: 1px transparent solid;
  transition: var(--cl-transitions);
  background: linear-gradient(90deg, var(--c1, #658ef6), var(--c2, #85adfd) 51%, var(--c1, #6595f6)) var(--x, 0)/ 200%;

  // &.cl-button-cta {
  //   padding: 12px 19px;
  //   font-weight: 500;
  //   color: #fff;
  //   --c1: #8027d9;
  //   --c2: #af7be3;

  //   &:hover {
  //     --x: 100%;
  //   }
  // }

  &.cl-button-white {
    font-weight: 500;
    background: #fff !important;
    color: rgb(18, 18, 18) !important;

    &-disabled {
      background: #fff !important;
      color: rgb(69, 69, 69);
    }
  }

  &.cl-button-primary {
    font-weight: 500;
    --c1: #8027d9;
    --c2: #af7be3;
    color: #fff;

    &:hover {
      --x: 100%;
    }

    &-disabled {
      --c1: #767676;
      --c2: #7e7e7e;
      color: #fff;
    }
  }

  &.cl-button-ghost {
    background: initial;
    color: var(--cl-text-color);
    border: 1px gray solid;

    &:hover {
      box-shadow: initial;
    }

    &-disabled {
      color: rgb(106, 106, 106);
      border: 1px rgb(106, 106, 106) solid;
      background: initial;
    }
  }

  &.cl-button-text {
    background: transparent;
    color: var(--cl-text-color);
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;

    &:hover {
      box-shadow: initial;
    }

    &-disabled {
      background: transparent;
      color: rgb(106, 106, 106);
      padding: 0;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  &.cl-button-link {
    background: transparent;
    position: relative;
    font-weight: initial;
    border: initial;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: initial;
    color: var(--cl-text-color);

    &:hover {
      box-shadow: initial;
      //color: var(--cl-text-color-contrast);

      &::after {
        top: 0%;
      }
    }

    &-disabled {
      background: transparent;
      position: relative;
      font-weight: initial;
      border: initial;
      padding: 0;
      padding-top: 8px;
      padding-bottom: 8px;
      border-radius: initial;
      color: var(--cl-text-color);
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 80%;
      left: -0.1em;
      right: -0.1em;
      bottom: 0;
      transition: top var(--cl-animation-duration) cubic-bezier(0, 0.8, 0.13, 1);
      background-color: rgb(var(--cl-color-theme-rgba), 0.5);
    }
  }

  &.cl-button-large {
    padding: 12px 19px;
  }

  &.cl-button-small {
    padding: 10px;
    font-size: 13px;
  }

  &:hover {
    box-shadow: var(--cl-shadow-3);
  }

}