@import "./variables.scss";

.cl-button {
  padding: 32px;
  background-color: blue;
  font-size: 24px;
  border-radius: 4px;
  color: black;
  font-weight: bold;
  border-radius: inherit;

  &.primary {
    background-color: violet;
  }

  &.secondary {
    background-color: gray;
  }

  &.large {
    height: 50px;
  }

  &.small {
    height: 20px;
  }

  &:hover {
    color: white;
  }
}

.cl-elevation {
  width: fit-content;
  border-radius: var(--cl-roundness-default);

  &.elevate-1 {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  }

  &.elevate-2 {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  }

  &.elevate-3 {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  }

  &.elevate-4 {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  }

  &.elevate-5 {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  }
}

.cl-empty-box {
  min-width: 100px;
  min-height: 100px;
  border-radius: var(--cl-roundness-default);
}