body {
  --cl-border-round: 0.8em;
  --cl-header-height: 5rem;
  --cl-toast-horizontal: 3rem;
  --cl-toast-vertical: calc(var(--cl-header-height) + 2rem);
  --cl-transitions: all 0.4s ease-in-out 0.2s;
  --cl-animation-duration: 0.3s;
  transition: var(--cl-transitions);
  --cl-color-theme: #9900ff;
  --cl-color-theme-rgba: 153, 0, 255;
  --cl-text-color-contrast: rgb(18, 18, 18);
  --cl-text-color: #fff;
  --cl-background-main: #14131d;
  --cl-background-secondary: #464646;
  --cl-shadow-1: none;
  --cl-shadow-2: none;
  --cl-shadow-3: none;
  --cl-shadow-4: none;
  --cl-shadow-5: none;
  background-color: var(--cl-background-main) !important;
  color: var(--cl-text-color);
}
body.lightTheme {
  --cl-color-theme-contrast: #fff;
  --cl-text-color: rgb(18, 18, 18);
  --cl-text-color-contrast: #fff;
  --cl-background-main: #fdfdfd;
  --cl-background-secondary: #fff;
  --cl-shadow-1: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  --cl-shadow-2: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  --cl-shadow-3: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  --cl-shadow-4: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  --cl-shadow-5: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.cl-elevation.cl-elevation-elevate-1 {
  box-shadow: var(--cl-shadow-1);
}
.cl-elevation.cl-elevation-elevate-2 {
  box-shadow: var(--cl-shadow-2);
}
.cl-elevation.cl-elevation-elevate-3 {
  box-shadow: var(--cl-shadow-3);
}
.cl-elevation.cl-elevation-elevate-4 {
  box-shadow: var(--cl-shadow-4);
}
.cl-elevation.cl-elevation-elevate-5 {
  box-shadow: var(--cl-shadow-5);
}

.cl-container {
  padding: 0;
  margin: 0;
  background-color: var(--cl-background-secondary);
}
.cl-container-animated {
  transition: var(--cl-transitions);
}
.cl-container-padding-none {
  padding: 0;
}
.cl-container-padding-small {
  padding: 0.3rem;
}
.cl-container-padding-medium {
  padding: 0.8rem;
}
.cl-container-padding-large {
  padding: 1.1rem;
}
.cl-container-margin-none {
  margin: 0;
}
.cl-container-margin-small {
  margin: 0.3rem;
}
.cl-container-margin-medium {
  margin: 0.8rem;
}
.cl-container-margin-large {
  margin: 1.1rem;
}
.cl-container-round {
  border-radius: var(--cl-border-round);
}

.cl-toast {
  display: grid;
  background-color: var(--cl-background-secondary);
  max-width: 20rem;
  width: 85%;
  min-height: 3rem;
  position: fixed;
  z-index: 1000;
  transition: var(--cl-transitions);
  animation: none;
  grid-template-columns: 5fr 1fr;
  grid-column-gap: 5px;
  line-height: initial !important;
  grid-template-areas: "message close";
}
@media (min-width: 451px) {
  .cl-toast {
    width: 100%;
  }
  .cl-toast-position-top-left, .cl-toast-position-bottom-left {
    left: var(--cl-toast-horizontal);
  }
  .cl-toast-position-bottom-right, .cl-toast-position-top-right {
    right: var(--cl-toast-horizontal);
  }
}
@media (max-width: 450px) {
  .cl-toast-position-top-left, .cl-toast-position-top-right, .cl-toast-position-bottom-left, .cl-toast-position-bottom-right {
    margin: 5% auto;
    left: 0;
    right: 0;
  }
}
.cl-toast-position-top-left, .cl-toast-position-top-right, .cl-toast-position-top-center {
  top: var(--cl-toast-vertical);
}
.cl-toast-position-bottom-left, .cl-toast-position-bottom-right, .cl-toast-position-bottom-center {
  bottom: calc(var(--cl-toast-vertical) + 3rem);
}
.cl-toast-position-bottom-center, .cl-toast-position-top-center {
  margin: 5% auto;
  left: 0;
  right: 0;
}
.cl-toast-round {
  border-radius: var(--cl-border-round);
}
.cl-toast-withAction {
  grid-template-areas: "message action close";
  grid-template-columns: 5fr 1fr 4.5rem;
}
.cl-toast-longread {
  grid-template-areas: "message message message" "auto auto close";
  grid-template-columns: 5fr 1fr 4.5rem;
}
.cl-toast-longread .cl-toast-action,
.cl-toast-longread .cl-toast-close {
  align-self: end;
}
.cl-toast-withAction-longread {
  grid-template-areas: "message message message" "auto action close";
  grid-template-columns: 5fr 1fr 4.5rem;
}
.cl-toast-withAction-longread .cl-toast-action,
.cl-toast-withAction-longread .cl-toast-close {
  align-self: end;
}
.cl-toast-animate {
  animation-duration: var(--cl-animation-duration);
  animation-timing-function: ease;
  animation-fill-mode: both;
}
.cl-toast-position-bottom-left, .cl-toast-position-top-left {
  animation-name: fadeInLeft;
}
.cl-toast-position-bottom-right, .cl-toast-position-top-right {
  animation-name: fadeInRight;
}
.cl-toast-position-bottom-center {
  animation-name: fadeInUp;
}
.cl-toast-position-top-center {
  animation-name: fadeInDown;
}
.cl-toast-message {
  grid-area: message;
  display: grid;
  justify-content: left;
  align-content: center;
  text-align: left;
  line-break: anywhere;
  word-break: break-word;
  font-size: 15px;
  color: var(--cl-text-color);
}
.cl-toast-action {
  grid-area: action;
  padding: 5px;
  display: grid;
  justify-content: center;
  align-content: center;
}
.cl-toast-close {
  grid-area: close;
  padding: 5px;
  display: grid;
  justify-content: center;
  align-content: center;
}

.cl-button {
  padding: 8px 14px;
  font-size: 16px;
  color: var(--cl-text-color-contrast);
  font-weight: 400;
  border-radius: var(--cl-border-round);
  border: 1px transparent solid;
  transition: var(--cl-transitions);
  background: linear-gradient(90deg, var(--c1, #658ef6), var(--c2, #85adfd) 51%, var(--c1, #6595f6)) var(--x, 0)/200%;
}
.cl-button.cl-button-white {
  font-weight: 500;
  background: #fff !important;
  color: #121212 !important;
}
.cl-button.cl-button-white-disabled {
  background: #fff !important;
  color: #454545;
}
.cl-button.cl-button-primary {
  font-weight: 500;
  --c1: #8027d9;
  --c2: #af7be3;
  color: #fff;
}
.cl-button.cl-button-primary:hover {
  --x: 100%;
}
.cl-button.cl-button-primary-disabled {
  --c1: #767676;
  --c2: #7e7e7e;
  color: #fff;
}
.cl-button.cl-button-ghost {
  background: initial;
  color: var(--cl-text-color);
  border: 1px gray solid;
}
.cl-button.cl-button-ghost:hover {
  box-shadow: initial;
}
.cl-button.cl-button-ghost-disabled {
  color: #6a6a6a;
  border: 1px #6a6a6a solid;
  background: initial;
}
.cl-button.cl-button-text {
  background: transparent;
  color: var(--cl-text-color);
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}
.cl-button.cl-button-text:hover {
  box-shadow: initial;
}
.cl-button.cl-button-text-disabled {
  background: transparent;
  color: #6a6a6a;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}
.cl-button.cl-button-link {
  background: transparent;
  font-weight: initial;
  border: initial;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: initial;
  color: var(--cl-text-color);
}
.cl-button.cl-button-link:hover {
  box-shadow: initial;
  text-decoration: underline;
}
@media (hover: none) {
  .cl-button.cl-button-link {
    text-decoration: underline;
  }
}
.cl-button.cl-button-link-disabled {
  background: transparent;
  position: relative;
  font-weight: initial;
  border: initial;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: initial;
  color: var(--cl-text-color);
}
.cl-button.cl-button-large {
  padding: 12px 19px;
}
.cl-button.cl-button-small {
  padding: 10px;
  font-size: 13px;
}
.cl-button:hover {
  box-shadow: var(--cl-shadow-3);
}

.cl-empty-box {
  padding: 0;
  margin: 0;
  min-width: 100px;
  min-height: 100px;
  transition: var(--cl-transitions);
}
.cl-empty-box.cl-empty-box-border {
  border: 1px black solid;
}
.cl-empty-box.cl-empty-box-round {
  border-radius: var(--cl-border-round);
}

.cl-grid {
  color: black;
}

.cl-link {
  font-size: 16px;
  background: transparent;
  position: relative;
  border: none;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: initial;
  color: var(--cl-text-color);
}
.cl-link:hover {
  box-shadow: initial;
}
.cl-link:hover::after {
  top: 0%;
}
.cl-link-disabled {
  background: transparent;
  position: relative;
  font-weight: initial;
  border: initial;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: initial;
  color: var(--cl-text-color);
}
.cl-link::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 80%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top var(--cl-animation-duration) cubic-bezier(0, 0.8, 0.13, 1);
  background-color: rgb(var(--cl-color-theme-rgba), 0.5);
}
@media (hover: none) {
  .cl-link::after {
    top: 0%;
  }
}

.cl-place-content {
  display: grid;
}
.cl-place-content-vertical-top {
  align-content: start;
  align-items: start;
}
.cl-place-content-vertical-center {
  align-content: center;
  align-items: center;
}
.cl-place-content-vertical-bottom {
  align-content: end;
  align-items: end;
}
.cl-place-content-horizontal-left {
  justify-items: left;
  justify-content: left;
  text-align: left;
}
.cl-place-content-horizontal-center {
  justify-items: center;
  justify-content: center;
  text-align: center;
}
.cl-place-content-horizontal-right {
  justify-items: right;
  justify-content: right;
  text-align: right;
}

.cl-badge {
  position: relative;
  width: max-content;
}
.cl-badge-content {
  position: absolute;
  max-height: 30px;
  min-height: 20px;
  display: flex;
  padding: 10px;
  z-index: 1;
  flex-wrap: wrap;
  font-size: 0.75rem;
  min-width: 20px;
  box-sizing: border-box;
  transition: var(--cl-transitions);
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1;
  align-content: center;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  background-color: salmon;
}
.cl-badge-content-invisible {
  transform: scale(0) translate(50%, -50%) !important;
}
.cl-badge-content-anchor-top-right {
  top: 0;
  right: 0;
  transform: scale(1) translate(50%, -50%);
  transform-origin: 100% 0%;
}
.cl-badge-content-anchor-top-left {
  top: 0;
  left: 0;
  transform: scale(1) translate(-50%, -50%);
  transform-origin: 0% 0%;
}
.cl-badge-content-anchor-bottom-right {
  right: 0;
  bottom: 0;
  transform: scale(1) translate(50%, 50%);
  transform-origin: 100% 100%;
}
.cl-badge-content-anchor-bottom-left {
  left: 0;
  bottom: 0;
  transform: scale(1) translate(-50%, 50%);
  transform-origin: 0% 100%;
}