// @media #{$small} {
// actions
//}


$extrasmall: "screen and (max-width: 600px)";
$small: "screen and (min-width: 601px)";
$medium: "screen and (min-width: 769px)";
$large: "screen and (min-width: 993px)";
$extralarge: "screen and (min-width: 1201px)";

$mobile: "screen and (max-width: 768px)";
$tablet: "screen and (min-width: 993px)";
$desktop: "screen and (min-width: 1201px)";