@mixin position-center {
  margin: 5% auto;
  left: 0;
  right: 0;
}

.cl-toast {
  display: grid;
  background-color: var(--cl-background-secondary);
  max-width: 20rem;
  width: 85%;
  min-height: 3rem;
  position: fixed;
  z-index: 1000;
  transition: var(--cl-transitions);
  animation: none;
  grid-template-columns: 5fr 1fr;
  grid-column-gap: 5px;
  line-height: initial !important;
  grid-template-areas: "message close";

  @media (min-width: 451px) {
    width: 100%;

    &-position-top-left,
    &-position-bottom-left {
      left: var(--cl-toast-horizontal);
    }

    &-position-bottom-right,
    &-position-top-right {
      right: var(--cl-toast-horizontal);
    }
  }

  @media (max-width: 450px) {

    &-position-top-left,
    &-position-top-right,
    &-position-bottom-left,
    &-position-bottom-right {
      @include position-center;
    }
  }

  &-position-top-left,
  &-position-top-right,
  &-position-top-center {
    top: var(--cl-toast-vertical);
  }

  &-position-bottom-left,
  &-position-bottom-right,
  &-position-bottom-center {
    bottom: calc(var(--cl-toast-vertical) + 3rem);
  }

  &-position-bottom-center,
  &-position-top-center {
    @include position-center;
  }

  &-round {
    border-radius: var(--cl-border-round);
  }

  &-withAction {
    grid-template-areas: "message action close";
    grid-template-columns: 5fr 1fr 4.5rem;
  }

  &-longread {
    grid-template-areas: "message message message"
      "auto auto close";
    grid-template-columns: 5fr 1fr 4.5rem;

    .cl-toast-action,
    .cl-toast-close {
      align-self: end;
    }
  }

  &-withAction-longread {
    grid-template-areas: "message message message"
      "auto action close";
    grid-template-columns: 5fr 1fr 4.5rem;

    .cl-toast-action,
    .cl-toast-close {
      align-self: end;
    }
  }

  &-animate {
    animation-duration: var(--cl-animation-duration);
    animation-timing-function: ease;
    animation-fill-mode: both;
  }

  &-position-bottom-left,
  &-position-top-left {
    animation-name: fadeInLeft;
  }

  &-position-bottom-right,
  &-position-top-right {
    animation-name: fadeInRight;
  }

  &-position-bottom-center {
    animation-name: fadeInUp;
  }

  &-position-top-center {
    animation-name: fadeInDown;
  }

  &-message {
    grid-area: message;
    display: grid;
    justify-content: left;
    align-content: center;
    text-align: left;
    //padding: 5px;
    line-break: anywhere;
    word-break: break-word;
    font-size: 15px;
    color: var(--cl-text-color);
  }

  &-action {
    grid-area: action;
    padding: 5px;
    display: grid;
    justify-content: center;
    align-content: center;
  }

  &-close {
    grid-area: close;
    padding: 5px;
    display: grid;
    justify-content: center;
    align-content: center;
  }

}