.cl-container {
    padding: 0;
    margin: 0;
    
    background-color: var(--cl-background-secondary);

    &-animated {
        transition: var(--cl-transitions);
    }

    &-padding-none {
        padding: 0;
    }

    &-padding-small {
        padding: $small;
    }

    &-padding-medium {
        padding: $medium;
    }

    &-padding-large {
        padding: $large;
    }

    &-margin-none {
        margin: 0;
    }

    &-margin-small {
        margin: $small;
    }

    &-margin-medium {
        margin: $medium;
    }

    &-margin-large {
        margin: $large;
    }

    &-round {
        border-radius: var(--cl-border-round);
    }
}